<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="cart" ></ion-icon>
        <ion-badge color="secondary" (touchend)="showCart()" >3</ion-badge>
      </ion-button>
      
    </ion-buttons>
    <ion-item>
      <ion-icon style="position: absolute;bottom: -1px;"  size="large" slot="start" name="location"></ion-icon>
      <ion-label style="position: absolute;left: 30px;" size="large" >{{headerTitle}}</ion-label> 
      
      
    </ion-item>
    <ion-buttons size="medium" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search for your wish"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <ion-slides >
        <ion-slide *ngFor="let s of shops">
          <ion-title>{{s.shopaddress}}</ion-title>
        </ion-slide>
      </ion-slides> 
     
</ion-content>